USE [master]
GO
/****** Object:  Database [RC_QC_Line]    Script Date: 10/31/2025 11:08:53 AM ******/
CREATE DATABASE [RC_QC_Line]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RC_QC_Line', FILENAME = N'D:\Data\RC_QC_Line.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RC_QC_Line_log', FILENAME = N'D:\Log\RC_QC_Line_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RC_QC_Line].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RC_QC_Line]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/31/2025 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[lot_id] [int] NOT NULL,
	[image_date] [date] NOT NULL,
	[file_name] [varchar](255) NOT NULL,
	[file_path] [varchar](512) NOT NULL,
	[original_size] [int] NOT NULL,
	[compressed_size] [int] NOT NULL,
	[mime_type] [varchar](50) NOT NULL,
	[uploaded_by] [varchar](50) NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lots]    Script Date: 10/31/2025 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lots](
	[lot_id] [int] IDENTITY(1,1) NOT NULL,
	[lot_number] [varchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/31/2025 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[line_user_id] [varchar](50) NOT NULL,
	[username] [varchar](100) NULL,
	[role] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[last_access] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Images_image_date]    Script Date: 10/31/2025 11:08:53 AM ******/
CREATE NONCLUSTERED INDEX [IDX_Images_image_date] ON [dbo].[Images]
(
	[image_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Images_lot_date]    Script Date: 10/31/2025 11:08:53 AM ******/
CREATE NONCLUSTERED INDEX [IDX_Images_lot_date] ON [dbo].[Images]
(
	[lot_id] ASC,
	[image_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Images_lot_id]    Script Date: 10/31/2025 11:08:53 AM ******/
CREATE NONCLUSTERED INDEX [IDX_Images_lot_id] ON [dbo].[Images]
(
	[lot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Lots_lot_number]    Script Date: 10/31/2025 11:08:53 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_Lots_lot_number] ON [dbo].[Lots]
(
	[lot_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Users_line_user_id]    Script Date: 10/31/2025 11:08:53 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_Users_line_user_id] ON [dbo].[Users]
(
	[line_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Images] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[Images] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Lots] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Lots] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Lots] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [last_access]
GO
ALTER TABLE [dbo].[Images]  WITH NOCHECK ADD  CONSTRAINT [FK_Images_Lots] FOREIGN KEY([lot_id])
REFERENCES [dbo].[Lots] ([lot_id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Lots]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetImagesByLotAndDate]    Script Date: 10/31/2025 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetImagesByLotAndDate]
    @LotNumber VARCHAR(50),
    @ImageDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT i.*, l.lot_number
    FROM [dbo].[Images] i
    JOIN [dbo].[Lots] l ON i.lot_id = l.lot_id
    WHERE l.lot_number = @LotNumber
      AND CONVERT(DATE, i.image_date) = @ImageDate
      AND i.status = 'active'
    ORDER BY i.uploaded_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UploadImage]    Script Date: 10/31/2025 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UploadImage]
    @LotNumber VARCHAR(50),
    @ImageDate DATE,
    @FileName VARCHAR(255),
    @FilePath VARCHAR(512),
    @OriginalSize INT,
    @CompressedSize INT,
    @MimeType VARCHAR(50),
    @UploadedBy VARCHAR(50),
    @ImageId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @LotId INT;
    
    -- Get or create lot
    SELECT @LotId = lot_id FROM [dbo].[Lots] WHERE lot_number = @LotNumber;
    
    IF @LotId IS NULL
    BEGIN
        INSERT INTO [dbo].[Lots] (lot_number, created_at, updated_at, status)
        VALUES (@LotNumber, GETDATE(), GETDATE(), 'active');
        
        SET @LotId = SCOPE_IDENTITY();
    END
    
    -- Insert image
    INSERT INTO [dbo].[Images] (
        lot_id,
        image_date,
        file_name,
        file_path,
        original_size,
        compressed_size,
        mime_type,
        uploaded_by,
        uploaded_at,
        status
    )
    VALUES (
        @LotId,
        @ImageDate,
        @FileName,
        @FilePath,
        @OriginalSize,
        @CompressedSize,
        @MimeType,
        @UploadedBy,
        GETDATE(),
        'active'
    );
    
    SET @ImageId = SCOPE_IDENTITY();
END
GO
USE [master]
GO
